# Pandas: 

+ xử lý và phân tích dữ liệu một cách dễ dàng

    + `Series` Cấu trúc dữ liệu 1 chiều, có thể chứa các giá trị bất kỳ (chuỗi, số, boolean, v.v.) và có chỉ số (index)
 
    + `DataFrame` Cấu trúc dữ liệu 2 chiều, giống như bảng trong cơ sở dữ liệu, với các dòng (rows) và cột (columns). Là cấu trúc dữ liệu chính để làm việc với dữ liệu dạng bảng

    + `Index` Là lớp đặc biệt trong Pandas để đánh dấu vị trí của các phần tử trong mảng hoặc bảng

#### Một số hàm hữu ích:

+ `df.sort_values()`: Sắp xếp theo giá trị của một cột.

+ `df.apply()`: Áp dụng hàm cho mỗi phần tử trong DataFrame.

+ ` df.pivot_table()`: Tạo bảng pivot từ dữ liệu

#### Pandas có thể đọc và ghi ra dữ liệu từ các file csv, excel

In [102]:
import pandas as pd

# Tạo Series từ list
s = pd.Series([1, 2, 3, 4, 5])
print(s)

# Tạo Series với chỉ số tùy chỉnh
s_custom_index = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(s_custom_index)
""" 
chỉ  phần
số   tử
0    1
1    2
2    3
3    4
4    5
dtype: int64
a    10
b    20
c    30
dtype: int64
"""

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    10
b    20
c    30
dtype: int64

' \nchỉ  phần\nsố   tử\n0    1\n1    2\n2    3\n3    4\n4    5\ndtype: int64\na    10\nb    20\nc    30\ndtype: int64\n'

In [103]:
# Tạo DataFrame từ dic
data = {
    'Tên': ['An', 'Bình', 'Cường'],
    'Tuổi': [20, 25, 30]
}
df = pd.DataFrame(data)
print(df)

# Tạo DataFrame từ các list
data2 = [['An', 20], ['Bình', 25], ['Cường', 30]]
df2 = pd.DataFrame(data2, columns=['Tên', 'Tuổi'])
print(df2)

     Tên  Tuổi
0     An    20
1   Bình    25
2  Cường    30
     Tên  Tuổi
0     An    20
1   Bình    25
2  Cường    30

In [104]:
data = {
    'Tên': ['Sơn', 'Bình', 'Toàn', 'Linh', 'Dương', 'An', 'Vũ', 'Thuận', 'Trình'],
    'Tuổi': [20, 25, 30, 19, 24, 32, 12, 26, 38]
}
df = pd.DataFrame(data)

print(df)

     Tên  Tuổi
0    Sơn    20
1   Bình    25
2   Toàn    30
3   Linh    19
4  Dương    24
5     An    32
6     Vũ    12
7  Thuận    26
8  Trình    38

In [105]:
# Xem 5 dòng đầu tiên
print(df.head())

     Tên  Tuổi
0    Sơn    20
1   Bình    25
2   Toàn    30
3   Linh    19
4  Dương    24

In [106]:
# Xem 5 dòng cuối
print(df.tail())

     Tên  Tuổi
4  Dương    24
5     An    32
6     Vũ    12
7  Thuận    26
8  Trình    38

In [107]:
# Xem thông tin chi tiết 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tên     9 non-null      object
 1   Tuổi    9 non-null      int64
dtypes: int64(1), object(1)
memory usage: 276.0+ bytes
None

+ `<class 'pandas.core.frame.DataFrame'>`: Thông báo rằng đối tượng này là một DataFrame trong Pandas.
+ `RangeIndex: 9 entries, 0 to 8`: DataFrame có 9 dòng (entries), chỉ số của các dòng là từ 0 đến 8.
+ `Data columns (total 2 columns):`: DataFrame có 2 cột: Tên và Tuổi.
+ Thông tin về từng cột:
    + Cột Tên: Có 9 giá trị không bị thiếu (non-null), và kiểu dữ liệu là object (chuỗi).
    + Cột Tuổi: Cũng có 9 giá trị không bị thiếu, và kiểu dữ liệu là int64 (số nguyên 64-bit).
+ `dtypes`: int64(1), object(1): DataFrame có 1 cột có kiểu dữ liệu là int64 (cột Tuổi) và 1 cột có kiểu dữ liệu là object (cột Tên).
+ `memory usage`: 180.0+ bytes: Sử dụng khoảng 180 byte bộ nhớ để lưu trữ DataFrame này

In [108]:
# Tóm tắt các số liệu thống kê
print(df.describe())

            Tuổi
count   9.000000
mean   25.111111
std     7.704616
min    12.000000
25%    20.000000
50%    25.000000
75%    30.000000
max    38.000000

+ `std` độ lệch chuẩn
+ `25%, 50%, 70%` giá trị của cột tuổi nhỏ hơn hoặc bằng 20, 25, 30 lần lượt 15% 50% 70%

In [109]:
"""
     Tên  Tuổi
0    Sơn    20
1   Bình    25
2   Toàn    30
3   Linh    19
4  Dương    24
5     An    32
6     Vũ    12
7  Thuận    26
8  Trình    38
"""
print(df['Tên'])  # Truy cập cột 'Tên'

0      Sơn
1     Bình
2     Toàn
3     Linh
4    Dương
5       An
6       Vũ
7    Thuận
8    Trình
Name: Tên, dtype: object

In [110]:
print(df.Tuổi)    # Truy cập cột 'Tuổi' (nếu không có dấu cách)

0    20
1    25
2    30
3    19
4    24
5    32
6    12
7    26
8    38
Name: Tuổi, dtype: int64

In [111]:
# Truy cập dòng theo chỉ số tên
print(df.loc[4])  # Dòng có chỉ số 4

Tên     Dương
Tuổi       24
Name: 4, dtype: object

In [112]:
# Truy cập dòng theo chỉ số vị trí
print(df.iloc[4])  # Dòng thứ 5 (vị trí 4)

Tên     Dương
Tuổi       24
Name: 4, dtype: object

In [113]:
# Thêm cột
df['Điểm'] = [9, 8, 7, 2, 3, 4, 8, 4, 3]
print(df)

     Tên  Tuổi  Điểm
0    Sơn    20     9
1   Bình    25     8
2   Toàn    30     7
3   Linh    19     2
4  Dương    24     3
5     An    32     4
6     Vũ    12     8
7  Thuận    26     4
8  Trình    38     3

In [114]:
# Sửa cột điểm
df['Điểm'] = df['Điểm'] + 1
print(df)

     Tên  Tuổi  Điểm
0    Sơn    20    10
1   Bình    25     9
2   Toàn    30     8
3   Linh    19     3
4  Dương    24     4
5     An    32     5
6     Vũ    12     9
7  Thuận    26     5
8  Trình    38     4

+ `pd.concat()` để kết hợp df và new_row. Hàm này sẽ nối DataFrames lại với nhau
+ Dùng `new_row.to_frame()` để chuyển Series thành DataFrame
+ `.T `(transpose) được sử dụng để đảm bảo rằng dòng mới được thêm vào đúng cách, vì `.to_frame()` sẽ tạo ra một DataFrame theo cột, không phải theo dòng

In [115]:
new_row = pd.Series(['Hoàng', 26, 7], index=['Tên', 'Tuổi', 'Điểm'])
df = pd.concat([df, new_row.to_frame().T], ignore_index=True)
print(df)

#không .T
"""      Tên  Tuổi  Điểm      
0     Sơn  20.0  10.0    NaN
1    Bình  25.0   9.0    NaN
2    Toàn  30.0   8.0    NaN
3    Linh  19.0   3.0    NaN
4   Dương  24.0   4.0    NaN
5      An  32.0   5.0    NaN
6      Vũ  12.0   9.0    NaN
7   Thuận  26.0   5.0    NaN
8   Trình  38.0   4.0    NaN
9     NaN   NaN   NaN  Hoàng
10    NaN   NaN   NaN     26
11    NaN   NaN   NaN      7
"""

     Tên Tuổi Điểm
0    Sơn   20   10
1   Bình   25    9
2   Toàn   30    8
3   Linh   19    3
4  Dương   24    4
5     An   32    5
6     Vũ   12    9
7  Thuận   26    5
8  Trình   38    4
9  Hoàng   26    7

'      Tên  Tuổi  Điểm      \n0     Sơn  20.0  10.0    NaN\n1    Bình  25.0   9.0    NaN\n2    Toàn  30.0   8.0    NaN\n3    Linh  19.0   3.0    NaN\n4   Dương  24.0   4.0    NaN\n5      An  32.0   5.0    NaN\n6      Vũ  12.0   9.0    NaN\n7   Thuận  26.0   5.0    NaN\n8   Trình  38.0   4.0    NaN\n9     NaN   NaN   NaN  Hoàng\n10    NaN   NaN   NaN     26\n11    NaN   NaN   NaN      7\n'

+ `df.drop( )` Xóa
+ `axis = 0` xóa dòng 
+ `axis = 1` xóa cột

In [116]:
df = df.drop(2, axis=0)  # Xóa dòng có chỉ số 2
print(df)

     Tên Tuổi Điểm
0    Sơn   20   10
1   Bình   25    9
3   Linh   19    3
4  Dương   24    4
5     An   32    5
6     Vũ   12    9
7  Thuận   26    5
8  Trình   38    4
9  Hoàng   26    7

In [117]:
# Lọc các dòng có tuổi lớn hơn 20
filtered_df = df[df['Tuổi'] > 20]
print(filtered_df)

     Tên Tuổi Điểm
1   Bình   25    9
4  Dương   24    4
5     An   32    5
7  Thuận   26    5
8  Trình   38    4
9  Hoàng   26    7

In [118]:
NaN = pd.Series(['Thanh', 25, 4], index=['Tên', 'Tuổi', 'Điểm'])
df = pd.concat([df, NaN.to_frame()], ignore_index=True)
print(df)

      Tên Tuổi Điểm      0
0     Sơn   20   10    NaN
1    Bình   25    9    NaN
2    Linh   19    3    NaN
3   Dương   24    4    NaN
4      An   32    5    NaN
5      Vũ   12    9    NaN
6   Thuận   26    5    NaN
7   Trình   38    4    NaN
8   Hoàng   26    7    NaN
9     NaN  NaN  NaN  Thanh
10    NaN  NaN  NaN     25
11    NaN  NaN  NaN      4

In [119]:
print(df.isna())  # Kiểm tra các giá trị NaN

      Tên   Tuổi   Điểm      0
0   False  False  False   True
1   False  False  False   True
2   False  False  False   True
3   False  False  False   True
4   False  False  False   True
5   False  False  False   True
6   False  False  False   True
7   False  False  False   True
8   False  False  False   True
9    True   True   True  False
10   True   True   True  False
11   True   True   True  False

In [120]:
df['Điểm'].fillna(0)  # Thay thế NaN cột điểm bằng 0

C:\Users\LAPTOP\AppData\Local\Temp\ipykernel_4900\1103689361.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Điểm'].fillna(0)  # Thay thế NaN cột điểm bằng 0

0     10
1      9
2      3
3      4
4      5
5      9
6      5
7      4
8      7
9      0
10     0
11     0
Name: Điểm, dtype: int64

In [121]:
print(df)

      Tên Tuổi Điểm      0
0     Sơn   20   10    NaN
1    Bình   25    9    NaN
2    Linh   19    3    NaN
3   Dương   24    4    NaN
4      An   32    5    NaN
5      Vũ   12    9    NaN
6   Thuận   26    5    NaN
7   Trình   38    4    NaN
8   Hoàng   26    7    NaN
9     NaN  NaN  NaN  Thanh
10    NaN  NaN  NaN     25
11    NaN  NaN  NaN      4

In [122]:
df.dropna()  # Xóa dòng có NaN

Empty DataFrame
Columns: [Tên, Tuổi, Điểm, 0]
Index: []

In [123]:
# Giả sử chúng ta có hai DataFrame:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Tên': ['An', 'Bình', 'Cường']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Điểm': [8, 9, 7]})

+ `on = 'ID'`: chỉ định key là ID
+ các loại kết hợp how
   + `how='inner'`: Giữ lại chỉ các dòng có giá trị 'ID' trùng nhau trong cả hai DataFrame.
   + `how='left'`: Giữ lại tất cả dòng từ df1 và chỉ kết hợp các giá trị từ df2 nếu 'ID' có trong df2. Các giá trị không có trong df2 sẽ được điền là NaN.
   + `how='right'`: Giữ lại tất cả dòng từ df2 và chỉ kết hợp các giá trị từ df1 nếu 'ID' có trong df1. Các giá trị không có trong df1 sẽ được điền là NaN.
   + `how='outer'`: Giữ lại tất cả các dòng từ cả hai DataFrame. Nếu một dòng không có mặt trong một DataFrame, các giá trị sẽ được điền là NaN

In [124]:
merged_df = pd.merge(df1, df2, on='ID', how='inner')
print(merged_df)

   ID    Tên  Điểm
0   2   Bình     8
1   3  Cường     9

In [125]:
merged_df = pd.merge(df1, df2, on='ID', how='outer')
print(merged_df)

   ID    Tên  Điểm
0   1     An   NaN
1   2   Bình   8.0
2   3  Cường   9.0
3   4    NaN   7.0

In [126]:
df3 = pd.concat([df1, df2], axis=0)  # Hợp nhất theo chiều dọc (dòng)
print(df3)

   ID    Tên  Điểm
0   1     An   NaN
1   2   Bình   NaN
2   3  Cường   NaN
0   2    NaN   8.0
1   3    NaN   9.0
2   4    NaN   7.0

In [127]:
df4 = pd.concat([df1, df2], axis=1)  # Hợp nhất theo chiều ngang (cột)
print(df4)

   ID    Tên  ID  Điểm
0   1     An   2     8
1   2   Bình   3     9
2   3  Cường   4     7